* {
	box-sizing: border-box;
}

.aside::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}


.header {
	background-color: #98FF98;
	padding: 20px;
}

.aside {
	background-color: black;
	display: table;
	padding: 30px;
}

div1 {
	background-color: #8A2BE2;
	color: white;
	display: flex;
	padding: 20px;
}

div2 {
	background-color: #8A2BE2;
	color: white;
	display: flex;
	padding: 20px;
}

div3 {
	background-color: #8A2BE2;
	color: white;
	display: flex;
	padding: 20px;
}

div4 {
	background-color: #8A2BE2;
	color: white;
	display: flex;
	padding: 20px;
}

div5 {
	background-color: #8A2BE2;
	color: white;
	display: flex;
	padding: 20px;
}

.aside-right {
	background-color: #8A2BE2;
	padding: 15px;
	text-align: center;
	font-size: 15px;
	color: white;
}

.content {
	color: white;
	font-family: serif;
}

.footer {
	background-color: black;
	text-align: center;
	padding: 30px;
	color: aliceblue;
}

div1:hover {
	background-color: burlywood;
}

div2:hover {
	background-color: burlywood;
}

div3:hover {
	background-color: burlywood;
}

div4:hover {
	background-color: burlywood;
}

div5:hover {
	background-color: burlywood;
}

@media only screen and (min-width: 768px) {

	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
