body {
	background-color: blue;
}

h1 {
	background-color: yellow;
	;
}

p {
	background-color: darkviolet;
	padding: 25px;
}

@media screen and (min-width: 350px) {
	body {
		background-color: green;
	}
}
