body{
	font-size:28px;

}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333;
	position:sticky;
	top:0;
}


li{
	float:left;

}

li a{
	display:block;
	color:white;
	text-align:center;
	padding:20px;
	text-decoration:none;


}

li a.hover{
	background-color:#111;
}

.active{
	background-color:#4caf50;
}