<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>details</title>
    <link href="../assets/css/themes/Themes.css" rel="stylesheet" />
    <link href="../assets/css/core/style.css" rel="stylesheet" />
</head>
<body class="details">
    <h1> User Details</h1>
    <!--<div id="userdetails"></div>-->
    <table id="content">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="userdetails">
        </tbody>
    </table>
    <a href="adddetails.html">Add User Details</a>
    <script src="../assets/js/details.js"></script>
</body>
</html>
