<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link href="../assets/css/themes/Themes.css" rel="stylesheet" />
    <link href="../assets/css/core/style.css" rel="stylesheet" />

</head>
<body class="bg">
    <h1> Welcome to Registration Form</h1>
    <div class="main">
        <a href="signup.html"><h2>SIGNUP</h2></a>
        <a href="login.html"><h2>LOGIN</h2></a>
    </div>
    <script src="../assets/js/signup.js"></script>
    <script src="../assets/js/login.js"></script>
</body>
</html>