<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User Data</title>
    <link href="../assets/css/theme/Theme.css" rel="stylesheet">
    <link href="../assets/css/core/style.css" rel="stylesheet">
</head>
<body>

    <h1>User Saved Data</h1>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>



        </thead>

        <tbody id="table-body">

        </tbody>
    </table>

    <a href="userDetails.html">Add-Details</a>

    <script src="../assets/js/userDetails.js"></script>
</body>
</html>
