*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

body {
	font-family: var(--font-family);
	background-image: var(--background-image);
	color: var(--font-color);
	background-repeat:repeat;
	padding:20px;
}
h1{

	padding:6%;
	text-align:center;
}

input[type=text][type=number][type=email][type=button],textarea {
	margin: 3%;
	border-radius: 8%;
	box-sizing:border-box;
}
form {
	width: 20%;
	
	margin: 0 auto;
	border: 10px;
	padding:2%;
}
fieldset {
	border-radius: 8%;
	padding:3%;
	width:100%;
}
label{
	
	display:block;
	margin-bottom:5%;
}

input[type="text"][type="number"][type="email"] [type="password"]{
	border-radius: 8%;
	width: 100%;
	padding: 2%;
}
input type[type="button"] {
	
}