
/* unvisited link */
a:link {
	color: red;
}




/* visited link */
a:visited {
	color: green;
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: blue;
}

/* order : unvisited -> visited -> hover -> active */
.link.highlight:hover{
	color:blueviolet;
}

