body{
    background-color:sandybrown;
    
    
}
.header{
    position:sticky;
    top:0;
   
}
h1{
    text-align:center;
    color:black;
    background-color:burlywood;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-weight:900;
    color:grey;
}

    nav ul li {
        margin-left: 30px; 
        color:grey;
    }

        nav ul li a {
            text-decoration: none;
            color: #333; 
        }
 li a:hover{
     color:grey;
 }

p{
    font-family:Cambria;
    font-weight:bold;
    letter-spacing:1px;
    word-spacing:3px;
    position:relative;
    color:black;
    font-display:revert;
    font-weight:800;
    text-indent:190px;
}

#para{
    text-indent:190px;
    word-spacing:9px;

}

.more a:hover{
    opacity:0.3;
    color:blue;
}

img{
    width:400px;
    height:300px;
    border:8px solid black;
    border-radius:50%;
    float:right;
    flex-wrap:wrap;
    display:flex;
    text-align:center;
}

.tree img:hover{
    opacity:0.4;
}

.tree{
    display:block;
    justify-content:center;
    
}

#main{
    text-align:center;
    background-color:grey;
}

#next {
    text-align: center;
    background-color: grey;
}


.cat{
    width:200px;
    height:200px;
}

#serve {
    text-align: center;
    background-color: grey;
}

#form{
    text-align:center;
    background:url('bg.jpg');
    color:grey;
   

}