<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link href="Theme.css" rel="stylesheet" />
    <link href=" style.css" rel="stylesheet" />
</head>
<body class="addcontent">
    <div>
        <h1 class="header"> FillDetails </h1>
        <form id="addForm">
            <label for="addUsername">USER NAME:</label><br>
            <input type="text" id="addUsername" required><br>
            <label for="addEmail">EMAIL:</label><br>
            <input type="text" id="addEmail" required><br>
            <label for="addPho">MOBILE NUMBER:</label><br>
            <input type="tel" id="addPho" required><br />
            <button type="button" onclick="displayUserDetails()">Submit</button>
        </form>
    </div>
    <script src="details.js"></script>
</body>
</html>