.margin {
    margin-top:15%;
    margin-right:25%;
    margin-bottom:15%;
    margin-left:25%;
    /*margin: auto;*/
    text-align: center;
    background-color: mistyrose;
}

.padding {
    background-color: paleturquoise;
}


.new{
    margin: 25px 20px 25px 20px;
    background-color:burlywood;
}