/*                                                     Background Color:
    body{
    background-color:antiquewhite;
*/
}
h1 {
    background-color: grey;
    text-align:center;
}
p{
    text-indent:190px;
}
h3{
    text-decoration:underline;
}

/*                                                    Background-images:
body{
    background-image:url("image.jfif");
}
    */


/*                                                     Background-Repeat:
body {
    background-image: url("image.jfif");
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;                                                                                                             
}
    */

/*                                                   Background-Position:
body{
    background-position:bottom;
    background-repeat:no-repeat;
    background-image:url("img.jfif");
}
    */

/*                                                    Background-Attachment:
body {
    background-image: url("img.jfif");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}
    */

/*                                                    Background-shorthand
body{
    background:black url("img.jfif") repeat right bottom;
}
*/
