body{
	margin:50px;
	padding:0;

}


a{
	color:mediumvioletred;
}
.link1{
	text-decoration:none;
	color:green;
}
.link2 {
	border: 2px solid red;
	text-decoration: none;
	padding:2px;
}
.link3 {
	border: 2px solid ;
	text-decoration: none;
	padding: 10px;
	background-color:black;
	
	

}




