h1 {
    color:black;
    background-color:darkmagenta;
    text-align: center;
}

h3 {
    text-decoration: underline;
    font-weight: 500;
    font-family: 'Cascadia Mono';
}
/*p:hover{
    color:blue;
    text-align:center;
}
    */
p{
    font-family:Impact;
    border:3px  blue;
    width:700px;
    height:190px; 
   
    /*opacity:0.7;*/
}
                                      /*hover bright -- img blur*/
img:hover{
    opacity:1.0;
}

img{
    opacity:0.6;
}
                                    /*img bright --  hover blur*/
    img:hover {
        opacity: 0.5;
    }

img {
    opacity: 1.0;
}

                                 /*transpart box*/

div{
    background-color:blue;
    padding:7px;
    width:19px;
    height:30px;
    overflow:hidden;
}
.html{
    opacity:0.1;
}

.css{
    opacity:0.3;
}

.js{
    opacity:0.6;
}

div p{
    opacity:0.9;
}

p:hover{
    color:forestgreen;
}