<html>
<head>
    <link href="themes.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap" rel="stylesheet">
    <title>Detail update</title>
</head>
<body>
    <div class="detail-card">
        <h1>Fill the user details</h1>
        <form id="updateDetailForm" autocomplete="off">
            <input type="text" placeholder="Username" name="dusername" id="dUsername" required><br />
            <input type="email" placeholder="Email" name="demail" id="dEmail" required><br />
            <input type="number" placeholder="Age" name="dage" id="dAge" required><br />
            <input type="number" placeholder="Mobile Number" name="dphone" id="dPhone" required><br />
            <input type="button" value="Submit" onclick="updateTable()">
            <strong id="dMessage"></strong>
        </form>
    </div>
    <script src="script.js"></script>
    <script src="profile.js"></script>
</body>
</html>