<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="C:\Users\Administrator\Desktop\Florist\assets\css\core\signin.css">
</head>
<body>
    <main class="whole-data">
    <h2>Login</h2>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
     
        <button type="submit">submit</button>

    </form>
</main>
    <script src="C:\Users\Administrator\Desktop\Florist\assets\js\login_order.js"></script>
</body>
</html>