
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bouquet Purchase Details</title>
      <link rel="stylesheet" href="C:\Users\Administrator\Desktop\Florist\assets\css\core\data.css">
   </head>
   <body>
      <div id="container">
         <h1 class="data-tag">Thanks for Your Purchase</h1>
         <h2 class="data-tag">Please Check Your Details</h2>
         <div id="data-container">
            <p class="data-tag" id="data1"></p>
            <p class="data-tag" id="data2"></p>
            <p class="data-tag" id="data3"></p>
            <p class="data-tag" id="data4"></p>
            <p class="data-tag" id="data5"></p>
            <p class="data-tag" id="data6"></p>
            <p class="data-tag" id="data7"></p>
            <p class="data-tag" id="data8"></p>
            <p class="data-tag" id="data9"></p>
            <p class="data-tag" id="data10"></p>
  
       
         </div>
         <h1 class="thanks-message">Thank you for choosing our bouquet! We hope it brings joy and brightens your day.</h1> 
      </div>
      <script src="C:\Users\Administrator\Desktop\Florist\assets\js\updatedata.js"></script>
   </body>
</html>