* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: gray;
    color: black;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: gray;
    color:black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .menu li:hover {
        background-color: floralwhite;
    }

.aside {
    background-color:grey;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color:grey;
    color:black;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width:500px){
    .col-s-1 {
        width:8%;
    }
    .col-s-2{
        width:16%;
    }
    .col-s-3 {
        width: 24%;
    }
    .col-s-4 {
        width: 32%;
    }
    .col-s-5 {
        width: 40%;
    }
    .col-s-6 {
        width: 48%;
    }
    .col-s-7 {
        width: 56%;
    }
    .col-s-8 {
        width: 64%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10{
        width: 83%;
    }
    .col-s-11 {
        width: 90%;
    }
    .col-s-12 {
        width: 100%;
    }
}