body{
	background-color:white;

}
h1{
	color:black;
	text-align:center;
	padding:40px 30px 50px 20px;
}
p {
	outline-color: red;
	outline-offset: 15px;
}
p.point1
{
		outline-style: dotted;
		outline-width:1px;
		outline-color:aqua;
		background: yellow;
		
}
	p.point2 {
		outline-style: dashed;
		outline-width: 3px;
		outline-color: pink;
	}
	p.point3 {
		outline-style: double;
		outline-width: 5px;
	}
	p.point4 {
		outline-style: ridge;
		outline-width: 4px;
	}