table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
}

table.a {
    table-layout: auto;
    width: 180px;
}

table.b {
    table-layout: fixed;
    width: 180px;
}

table.c {
    table-layout: auto;
    width: 100%;
}

table.d {
    table-layout: fixed;
    width: 100%;
}
