body{
	background-color:pink
}
h1{
	color:white;
	text-align:center;
	
}
div.india{
	border-style: dotted;
	/*margin:100px 50px 70px 60px;*/
	margin: 20px 50px 20px 20px;
	width:900px;
	background-color:lightblue;
}
#tourism{
	margin:inherit;
}
