h1{
    text-align:center;
}

h3{
    text-decoration:underline;
    font-family:'Gill Sans MT';
}

#corners1{
     border-radius:20px /70px;
     border:3px solid green;
     width:300px;
     height:190px;
     text-align:center;
}

#corners2{
      border:5px solid grey;
      border-radius:20px 40px 90px 40px;
      background-color:blueviolet;
      width:300px;
      height:190px;
}

#corners3{
    border:5px solid black;
    border-radius:50%;
    width:300px;
    height:190px;
    text-align:center;
    overflow:hidden;
    
}