:root {
	/*fonts*/
	--font-family: "Cursive";
	--button-font-color: black;
	--font-color: white;
	/*Background image*/
	--background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(file:///C:/Users/Administrator/Source/Repos/msindia-learning/2024-BATCH-I/AkshayaP/00%20-%20Projects/02%20-%20JavaScript/Formvalidation/assets/images/img.jpg);
	/*hover*/
	--hover-background-color: grey;
	/*border*/
	--table-border: 2px solid white;
}
