a:link {
	background-color: lightblue;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.btn {
	background-color: aqua;
	padding: 25px 50px 25px 50px;
	display: flex;
	display: inline-block;
	border: 5px solid green;
}
