body{
	background-color:aquamarine;

}

/*
h1{
	color:black;
	text-align:center;
}
p{
	font-family:verdana;
	font-size:20px;

}
#para{
	font-style:revert;
	text-align:center;
	color:darkblue;
}

.center{
	font-size:50px;
}
*/
h1,h2,p{
	font-color:black;
	font-size:40px;

}


