h1 {
    color: blanchedalmond;
    background-color: coral;
    text-align: center;
}

h3 {
    text-decoration: underline;
    font-weight: 500;
    font-family: 'Cascadia Mono';
}
/*
form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #3CBC8D;
    color: white;
}

form label{
    text-decoration:underline;
}
*/
input[type=button], input[type=submit], input[type=reset]  {
    background-color: navajowhite;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    
}
