.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

    .flex-container > div {
        background-color: DodgerBlue;
        color: white;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }


@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}