body{
	background-color:skyblue;
}
h1{
	color:black;
	text-align:center;
}
p{
	border-style:double;
	font-family:veranda;
	border-width:12px 5px;
	border-color:black;
    border-radius:5px; /*rounded borders*/
}
p1.holy{
	border-color:green;
	border-top-style:dotted;   /*border stylings*/
	border-right-style:solid;
	border-bottom-style:dotted;
	border-left-style:solid;
	border-width:12px 5px;
	
}