body{
	background-color:skyblue;
}
h1{
	color:black;
	text-align:center;
}
p{
	border-style:dotted;
	font-family:veranda;
	border-width:20px 5px;
	border-color:black;
	border-style:dotted solid;
	border-radius:5px;
}