:root {
    --main-bg-color: #000000;
    --main-text-color: white;
    --hover-color: #7a89d0;
    --tab-bg-color: rgba(0, 0, 0, 0.7);
    --shadow-color: black;
    --bg-image: url('./img/1.jpg');
    --main-font: Anek Bangla;
    --button-color: #000000;
    --hover-button-color: #7a89d0;
    --button-text-color: white;
    --hover-button-text-color: black;
}
