*{
    box-sizing:border-box;
}

body{
    margin:0;
}

#header{
    background-color:whitesmoke;
    width:1280px;
    height:100px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-start;
    position:sticky;
    top:0;
}

.search-bar{
   padding-top:30px;
   padding-left:70px;
   flex-grow:1;
   font-size:20px;
}

nav ul {
    display: flex;
    padding-top: 40px;
    padding-right:17px;
    margin: 0;
    justify-content: flex-end;
}

ul li {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left:36px;
    justify-content: space-around;
    font-size: 13px; 
}

li a {
    text-decoration: none;
    color:black;
    font-size:15px;
}

.center {
    width: 1280px;
    height: 500px;
    background-color: navajowhite;
    background: url("wp1886356.jpg") no-repeat;
}

.head{
    padding-top:150px;
    padding-left:160px;
    font-size:60px;
}


.hed {
    padding-left: 170px;
    font-size:30px;
    
}

.postion {
    width: 1280px;
    height: 160px;
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: space-around;
}

.main{
    width:1280px;
    height:400px;
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    background-color:whitesmoke;
}


.market {
    text-align:center;
    padding-top:90px;
    padding-left:210px;
    padding-right:70px;
    font-size:24px;
}
.market a{
    text-decoration:none;
   
}

.services{
    background-color:whitesmoke;
    width:1280px;
    height:250px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    background:url("img.jfif");
    padding-top:15px;  
}

.contt{
    width:1280px;
    height:300px;
    background-color:whitesmoke;
    display:flex;
    justify-content:flex-start;
    flex-flow:row wrap;
    justify-content:space-around;
}


#argi{
    font-size:42px;
    padding-left:60px;
}

.select {
    width: 1280px;
    height: 350px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.sel{
    padding-left:80px;
}

.navv{
    background-color:whitesmoke;
    width:1280px;
    height:70px;
    display:flex;
    justify-content:flex-start;
    flex-flow:row wrap;
    justify-content:space-around;
}

#h:hover{
    background-color:burlywood;
}

#hh:hover {
    background-color: burlywood;
}

#hhh:hover {
    background-color: burlywood;
}

#hhhh:hover {
    background-color: burlywood;
}

.imgg{
    background-color:whitesmoke;
    width:1280px;
    height:350px;
    display:flex;
    justify-content:flex-start;
    justify-content:space-around;
}

.sele {
    background-color: whitesmoke;
    width: 1280px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.pict {
    background-color: whitesmoke;
    width: 1280px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.contents {
    background-color: black;
    width: 1280px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}


   


